<div class="Account_Smallbox">
    <span class="material-icons AccountIcon">notifications</span>
    <a href="#">알림</a>
</div>
<div class="Account_Smallbox">
    <span class="material-icons AccountIcon">edit_note</span>
    <a href="#">프로필 관리</a>
</div>
<div class="Account_Smallbox">
    <span class="material-icons AccountIcon">settings</span>
    <a href="#">비밀번호 변경</a>
</div>
<div class="Account_Smallbox">
    <span class="material-icons AccountIcon">logout</span>
    <a href="#">로그아웃</a>
</div>
