.Footernavmenu{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    flex-direction: row
    align-items: flex-start;
}

.FooterBanner{
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    flex-direction: row
    align-items: flex-start;
}
.FooterLogoItem_Web{
    zoom: 0.8;
    margin-right:2rem;
    position: relative;
    bottom:1.3rem;
}
.FooterLogoItem_App{
    display:none;
}
.FooterLogoDetail{
    font-size: 0.75rem;
}

.FooterNavAStyle{
    margin-left:1.5rem
}


@media (max-width: 1000px) {
    .Footernavmenu{
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .FooterBanner{
        grid-column: 3/4;
        grid-row: 3/4;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    .FooterLogoItem_Web{
        display:none;
    }
    .FooterLogoItem_App{
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        zoom:0.8;
        position: relative;
        bottom:1.3rem;
    }
    .FooterLogoDetail{
        font-size: 0.8rem;
    }
    .FooterNavAStyle{
        margin-left:0;
        margin-bottom:1rem;
    }

}