/* header 요소 아이템 배치*/
.HeaderLogoItem_Web{
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.HeaderLogoItem_App{
    display:none;
}

.accountmenu {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}


/* 주의 : label을 사용할때는 grid칸이 절대 겹치면 안됨*/
.HeadernavmenuItem{
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top:0.3rem;
}

.headerhr{
    grid-column: 1/5;
    grid-row: 4/5;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.burgermenu{
    display:none;
}

/* 아이콘 관리*/
.iconstyle{
    color:var(--dark_text_color);
    font-size: 1.8rem;
    text-shadow: 0 0 2px #303030;
}
.NavIcon{
    color:var(--dark_text_color);
    font-size: 1.4rem;
    text-shadow: 0 0 2px #303030;
    margin-right:0.5rem;
}

.AccountIcon{
    color:var(--bright_text_color);
    font-size: 2rem;
    text-shadow: 0 0 2px #F8F8F8;
    margin-right:0.5rem;
}

.Burger_Smallbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left:1.5rem;
    font-size: 1.15rem;
    align-items: center;
}




/* account 메뉴 */

.Account_Smallbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color:var(--dark_bg_color);
    height:2rem;
    width: 50%;
    border-top: 0.5px solid gray;
}

.accountnavbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  align-items: flex-end;
  width: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s, visibility 0.7s;
}

.accountnavbar a{
    color:var(--bright_text_color);
}

#menu-toggle-account:checked ~ .accountnavbar {
  opacity: 1;
  visibility: visible;
}
/* 앱화면 헤더 요소 배치 */
@media (max-width: 1000px) {
    .HeaderLogoItem_App{
        zoom:0.9;
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: flex-start;
        position: relative;
        bottom:0.7rem;
    }

    .HeaderLogoItem_Web{
        display:none;
    }

    .accountmenu{
        grid-column: 3/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    .HeadernavmenuItem{
        display:none;
    }

    .burgermenu{
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .headerhr{
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }


    /* 아이콘 관리 */
    .iconstyle{
        color:var(--bright_text_color);
        font-size: 3.2rem;
        margin-left:1.5rem;
        margin-right:1.5rem;
        text-shadow: 0 0 5px #A0A0A0;
    }

0    .NavIcon{
        color:var(--bright_text_color);
        font-size: 1.8rem;
        text-shadow: 0 0 2px #A0AA0;
        margin-right:0.5rem;
    }

    .AccountIcon{
        color:var(--bright_text_color);
        font-size: 1.8rem;
        text-shadow: 0 0 2px #A0A0A0;
        margin-right:0.5rem;
    }



    /* 스크롤 메뉴 작은 박스 관리 */


    /* 스크롤메뉴- 버거 */

    .Burger_Smallbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left:0;
        font-size: 1.4rem;
        align-items: center;
        background-color:var(--darktp_bg_color);
        height:5rem;
        width: 100%;
        border-top: 0.5px solid gray;
    }

    .burgernavbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5.7rem;
      width: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.7s, visibility 0.7s;
    }

    .burgernavbar a{
        color:var(--bright_text_color);
    }

    #menu-toggle-burger:checked ~ .burgernavbar {
      opacity: 1;
      visibility: visible;
    }

    /* account 메뉴 */
    .Account_Smallbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left:0;
        font-size: 1.4rem;
        align-items: center;
        background-color:var(--darktp_bg_color);
        height:5rem;
        width: 100%;
        border-top: 0.5px solid gray;
    }

    .accountnavbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5.7rem;
      width: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.7s, visibility 0.7s;
    }

    .accountnavbar a{
        color:var(--bright_text_color);
    }

    #menu-toggle-account:checked ~ .accountnavbar {
      opacity: 1;
      visibility: visible;
    }
}