
/* 주의: css파일을 고쳐도 적용이 되지 않는 경우는 캐시가 남아있어서 그럼
개발자 도구 키고 강력 새로고침하면 될거임*/

.center{
    text-align: center;
}
.English_font{
     font-family: 'Chivo Mono', monospace;
}
.Korean_font{
     font-family:'NanumSquareNeoOTF-bRg';
}
.Korean_font2{
    font-family:'NanumSquareNeoOTF-cBd'
}

.iconstyle{
    box-shadow: 0 0 4px #C0C0C0;
    border-radius:4rem;
    padding: .2rem;
    vertical-align: middle;
    color:#C0C0C0;
    font-size:1.5rem
}


.headertop{
    text-align:center;
    margin-bottom: 1rem ;
    margin-top: 2rem;
}
.header_nav {
    color:white;
    font-family:'NanumSquareNeoOTF-bRg';
    font-size: 1rem;
    margin: 0 0.1rem;
}



/* 미디어 쿼리를 통해 반응형 웹 크기 조절*/
@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width:1000px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
  .questioninfo {
    font-size:10px;
  }
}

@media (max-width: 500px) {
  .tonone {
    display: none;
  }
}

@media (max-width: 500px) {
  .tocontent {
    text-align: left;
    margin: 0 1rem 0 1rem;

  }
}


@media (max-width: 500px) {
  .tocenter {
    text-align:center;
  }
}

marginmanage{
    text-align: center;
    max-width: 500px;
    margin:2rem auto 3rem auto;
}

a {
    color: white;
    text-decoration-line: none;
}


a:hover {
    color: black;
    text-decoration: none;
}

/* 박스관리 */
.wholebox{
    max-width: 650px;
    margin: 0 auto 1.2rem auto;
}

.titlebox{
    width:96%;
    margin-left:2%;
    padding: 1rem 0;
    background-color:#202020;
    border-top: solid 0.6px #bbb;
    border-bottom: solid 0.6px #bbb;
}

.filledcontentbox{
    width:96%;
    padding:0.9rem 0;
    margin:auto 2%;
    border-bottom: solid 0.6px #bbb;
    background-color:#383838
}

.emptycontentbox{
    width:96%;
    padding:0.9rem 0;
    margin:auto 2%;
    border-bottom: solid 0.6px #bbb;
    background-color:
}


.borderstyle{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid 2px #DCDCDC;
}

.divdisplay1{
    display: inline-block;
    text-align:center;
}

.divdisplay2{
    display: inline-block;
    text-align:left;
}

@media (max-width: 500px) {
  .tonone {
    display: none;
  }
}

.pkwidth{
    width:15%
}
.titlewidth{
    width:51%
}
.writerwidth{
    width:15%
}

@media (max-width: 500px){
    .pkwidth{
        width:18%
    }
    .titlewidth{
        width:60%
    }
    .writerwidth{
        width:18%
    }
}

/* 답변 관리  */
.smallbox{
    padding-left:2%;
    padding-right:2%;
}


.hrstyle{
    border-width: 2px;
    background-color: #DCDCDC;
}
.firstbox{
    max-width: 600px;
    margin: 0 auto 1.2rem auto;
}


