<!DOCTYPE html>
<html lang="ko">


{% include 'head.html' %}

<body>
    <div class="Headergirdcontainer white_background">
        {% include 'header.html' %}
    </div>
    <hr>
    <div class="advertisementcontainer">
        {% include 'advertisementapp/advertisementbanner.html' %}
    </div>
    <div  class="gray_background Contentgirdcontainer" >
        <div class="white_background Contentbackground">
        </div>
        <div class="white_background Contentcontainer">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <hr>
    <div class="Footergirdcontainer black_background">
        {% include 'footer.html' %}
    </div>
</html>

