<!-- 로고 배너 -->
<div class="HeaderLogoItem_Web" >
    {% include 'snippets/Logo_Dark.html' %}
</div>
<div class="HeaderLogoItem_App" >
    {% include 'snippets/Logo_Bright.html' %}
</div>


<!-- 계정 관련 배너 -->
<div class="HeaderAccountItem">
    <input style="display:none;" type="checkbox" id="menu-toggle-account">
    <label for="menu-toggle-account" class="iconstyle material-icons">account_circle</label>
    <div class="accountnavbar">
        {% include 'accountnavmenu.html' %}
    </div>
</div>

<!-- 버거메뉴 -->
<div class="burgermenu">
    <input style="display:none;" type="checkbox" id="menu-toggle-burger">
    <label  for="menu-toggle-burger" class="iconstyle material-icons" >menu</label>
    <div class="burgernavbar">
    {% include 'headernavmenu.html' %}
    </div>
</div>


<!-- 헤더 내비게이션 메뉴-->
<div class="HeadernavmenuItem NavFont">
    {% include 'headernavmenu.html' %}
</div>


<!--hr-->
<div class="headerhr"><hr></div>

